/* ==========================================================================
Scroll
========================================================================== */

.scroll {
    display:none;
    padding: 1px;
    width: 18px;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    transition: background-color .3s ease-out;
    text-align: center;
    padding-top: 10px;
    color: #777;
    user-select: none;
}
.scroll:hover {
    background-color: rgba(240,240,240,.5)!important;
}
.scroll-button {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
}
.scroll-button:before {
    content: "\2191";
}

/* /Scroll */
